## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
.env
!.env.example

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
packages/
!packages/build/

## Rider / JetBrains
.idea/

## OS
Thumbs.db
.DS_Store
